#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALP1 0
#define ALP1U 1
#define ALP2 2
#define ALP2U 3
#define NUM 4
#define NAV 5
#define SYM 6
#define FUN 7

/ {
	macros {
        SPC_tog_NUM: SPC_tog_NUM {
            label = "ZM_space_tog0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &tog NUM>;
        };
		ENT_tog_NUM: ENT_tog_NUM {
            label = "ZM_enter_tog0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ENTER &tog NUM>;
        };
		macroTAB: macroTAB {
            label = "ZM_macroTAB";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TAB>;
        };
    };

	combos {
        compatible = "zmk,combos";
		combo_fun {
        	timeout-ms = <50>;
            key-positions = <4 5>;
        	bindings = <&tog FUN>;
		};
		combo_del {
        	timeout-ms = <50>;
            key-positions = <20 21>;
        	bindings = <&kp DEL>;
		};
		combo_esc {
			timeout-ms = <50>;
			key-positions = <18 19>;
			bindings = <&kp ESC>;
			layers = <0 1 2 3 5>;
		};
		combo_undo {
			timeout-ms = <50>;
			key-positions = <0 12>;
			bindings = <&kp LC(Z)>;
		};
		combo_cut {
			timeout-ms = <50>;
			key-positions = <1 12>;
			bindings = <&kp LC(X)>;
		};
		combo_copy {
			timeout-ms = <50>;
			key-positions = <2 12>;
			bindings = <&kp LC(C)>;
		};
		combo_paste {
			timeout-ms = <50>;
			key-positions = <3 12>;
			bindings = <&kp LC(V)>;
		};
		combo_redo {
			timeout-ms = <50>;
			key-positions = <4 12>;
			bindings = <&kp LC(Y)>;
		};
		combo_find {
			timeout-ms = <50>;
			key-positions = <7 15>;
			bindings = <&kp LC(F)>;
			layers = <0 1 2 3>;
		};
		combo_print {
			timeout-ms = <50>;
			key-positions = <6 15>;
			bindings = <&kp LC(P)>;
			layers = <0 1 2 3>;
		};
		combo_lock {
			timeout-ms = <50>;
			key-positions = <3 10>;
			bindings = <&kp LC(L)>;
			layers = <0 1 2 3>;
		};		
		combo_lp {
			timeout-ms = <50>;
			key-positions = <10 11>;
			bindings = <&kp LPAR>;
		};
		combo_rp {
			timeout-ms = <50>;
			key-positions = <12 13>;
			bindings = <&kp RPAR>;
		};
		combo_lbk {
			timeout-ms = <50>;
			key-positions = <0 1>;
			bindings = <&kp LBKT>;
		};
		combo_rbk {
			timeout-ms = <50>;
			key-positions = <2 3>;
			bindings = <&kp RBKT>;
		};
		combo_lbc {
			timeout-ms = <50>;
			key-positions = <6 7>;
			bindings = <&kp LBRC>;
		};
		combo_rbc {
			timeout-ms = <50>;
			key-positions = <8 9>;
			bindings = <&kp RBRC>;
		};
	};

    behaviors {
		l_t: l_t {
      		compatible = "zmk,behavior-hold-tap";
      		label = "l_t";
      		#binding-cells = <2>;
      		tapping_term_ms = <201>;
      		flavor = "tap-preferred";
      		bindings = <&mo>, <&kp>;
    	};
		l_tMacro1: l_tMacro1 {
      		compatible = "zmk,behavior-hold-tap";
      		label = "l_tMacro1";
      		#binding-cells = <2>;
      		tapping_term_ms = <201>;
      		flavor = "tap-preferred";
      		bindings = <&mo>, <&SPC_tog_NUM>;
    	};
		hKp_tKp: hKp_tKp {
      		compatible = "zmk,behavior-hold-tap";
      		label = "hKp_tKp";
      		#binding-cells = <2>;
      		tapping_term_ms = <201>;
      		flavor = "tap-preferred";
      		bindings = <&kp>, <&kp>;
    	};
		hTab_tKp: hTab_tKp {
      		compatible = "zmk,behavior-hold-tap";
      		label = "hTab_tKp";
      		#binding-cells = <2>;
      		tapping_term_ms = <201>;
      		flavor = "tap-preferred";
      		bindings = <&macroTAB>, <&kp>;
    	};
		hTog_tSl: hTog_tSl {
      		compatible = "zmk,behavior-hold-tap";
      		label = "hTog_tSl";
      		#binding-cells = <2>;
      		tapping_term_ms = <221>;
      		flavor = "tap-preferred";
      		bindings = <&tog>, <&sl>;
    	};
		hTog_tKp: hTog_tKp {
      		compatible = "zmk,behavior-hold-tap";
      		label = "hTog_tKp";
      		#binding-cells = <2>;
      		tapping_term_ms = <221>;
      		flavor = "tap-preferred";
      		bindings = <&tog>, <&kp>;
    	};
		td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
	};

    keymap {
    	compatible = "zmk,keymap";
       	ALP1 {
		bindings = <
		&kp Q               &hKp_tKp RALT W        &kp C               &l_t NUM D             &kp TAB      &kp ENTER           &l_t NUM H            &kp U            &hKp_tKp RALT Y     &kp SQT
        &hKp_tKp LGUI A     &hKp_tKp LALT R     &hKp_tKp LCTRL S       &hKp_tKp LSHFT T     							               &hKp_tKp LSHFT N    &hKp_tKp LCTRL E    &hKp_tKp LALT I     &hKp_tKp LGUI O
                                                              &l_t NAV SPACE   &hTog_tSl NUM ALP1U      &sl ALP2        &l_t SYM BSPC
		>;
        };
		ALP1U {
		bindings = <
		&kp LS(Q)   &kp LS(W)       &kp LS(C)       &kp LS(D)           &kp TAB         &kp ENTER       &kp LS(H)   &kp LS(U)   &kp LS(Y)       &kp LS(SQT)
        &kp LS(A)   &kp LS(R)       &kp LS(S)       &kp LS(T)                                           &kp LS(N)   &kp LS(E)   &kp LS(I)       &kp LS(O)
                                                    &l_t NAV SPACE     &hTog_tSl NUM ALP1              &sl ALP2U       &l_t SYM BSPC
		>;
		};
		ALP2 {
		bindings = <
		&kp BSLH    &kp Z       &kp X       &kp L        &kp TAB          &kp ENTER       &kp COMMA   &kp DOT     &kp FSLH    &kp SEMI
        &kp B       &kp P       &kp F       &kp G                                         &kp M       &kp V       &kp K       &kp J
                                            &l_t NAV SPACE    &hTog_tSl NUM ALP2U        &sl ALP1        &l_t SYM BSPC
		>;
		};
       	ALP2U {
		bindings = <
		&kp LS(BSLH)    &kp LS(Z)       &kp LS(X)       &kp LS(L)        &kp TAB           &kp ENTER       &kp LS(COMMA) &kp LS(DOT) &kp LS(FSLH)    &kp LS(SEMI)
        &kp LS(B)       &kp LS(P)       &kp LS(F)       &kp LS(G)                                          &kp LS(M)     &kp LS(V)   &kp LS(K)       &kp LS(J)
                                                        &l_t NAV SPACE &hTog_tSl NUM ALP2 &sl ALP1U       &l_t SYM BSPC
		>;
		};
       	NUM {
		bindings = <
		&kp N5       &kp N6      &kp N7      &kp N8            &hTab_tKp 0 N9           &ENT_tog_NUM   &kp COMMA   &kp DOT     &kp FSLH    &kp CARET    
        &kp N1       &kp N2      &kp N3      &hKp_tKp LSHFT N4                                         &hKp_tKp LSHFT EQUAL   &kp STAR    &kp MINUS   &kp PLUS
                                             &l_tMacro1 NAV 0   &hTog_tKp NUM N0        &kp DEL         &l_t SYM BSPC
		>;
		};
		NAV {
		bindings = <
		&bootloader  &kp RALT     &none       &none        &kp ESC        &kp ENTER       &kp HOME    &kp PG_DN   &kp PG_UP   &kp END
        &kp LGUI     &kp LALT     &kp LCTRL   &kp LSHFT                                   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                                              &none        &kp TAB        &kp DEL         &kp BSPC
		>;
		};
		SYM {
		bindings = <
		&kp PRCNT     &kp CARET    &kp AMPERSAND &kp ASTRK    &kp GRAVE        &kp ENTER       &kp COMMA   &kp DOT     &kp FSLH    &kp CARET  
        &kp EXCL      &kp AT       &kp HASH      &kp DLLR                                      &kp EQUAL   &kp STAR    &kp MINUS   &kp PLUS
                                                 &hKp_tKp SPACE TILDE    &hKp_tKp ESC UNDERSCORE     &kp DEL         &none
		>;
		};
       	FUN {
		bindings = <
		&kp F5              &hKp_tKp RALT F6      &kp F7              &kp F8            &none              &none               &none        &none        &kp RALT     &none    
        &hKp_tKp LGUI F1       &hKp_tKp LALT F2      &hKp_tKp LCTRL F3      &hKp_tKp LSHFT F4                                           &hKp_tKp LSHFT F9       &hKp_tKp LCTRL F10      &hKp_tKp LALT F11      &hKp_tKp LGUI F12
                                               &tog FUN      &tog FUN	        &tog FUN         &tog FUN
		>;
		};
    };
};