config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_7PI_DONGLE

config ZMK_KEYBOARD_NAME
	default "7pi"

endif



if SHIELD_7PI_DONGLE_LEFT || SHIELD_7PI_DONGLE_RIGHT

config ZMK_SPLIT
	default y

endif



if SHIELD_7PI_DONGLE

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif